<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRMS.Properties.Settings.car_rental_systemConnectionString"
            connectionString="Data Source=PRIYANKAKAUSHAL\SQLEXPRESS;Initial Catalog=car_rental_system;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>